doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title= "Buisiness"
           
        link(rel='stylesheet', href='css/main.min.css')
        block Landing
    body 
        include sections/header
        include sections/hero
        include sections/about
        